logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/

.cache-main
.cache-tests
.sbtserver
.worksheet
*.lock
/hnotes-shell

project/eclipse.sbt
*.sc
*.project

.settings