/* Empty. Add your own CSS if you like */

input.ng-invalid-compare-to:not(.ng-pristine) {
        border: 1px solid red;
      }

.errorMessage p { 
	color: red;
	font-weight: bold;
}

.note #title {
	height: 2em;
}